{% extends "base.html" %}

{% block title %}Pet Finder{% endblock %}

{% block header %}
    <h1 class="title">Find Your Perfect Dog Companion with Family Life</h1>
{% endblock %}

{% block main %}
    <p class="subtitle">Choose Your Preference On Following Questions</p>
    <form method="POST" action="{{ url_for('question1')}}">
        <p class="sectiontitle">Affectionate with Family:</p>
        <p class="section">How affectionate a breed is likely to be with family members, or other people he knows well. Some breeds can be aloof with everyone but their owner, while other breeds treat everyone they know like their best friend.</br>
            <input type="radio" name="family" value="independent">Independent</br>
			<input type="radio" name="family" value="lovey-dovey">Lovey-Dovey</br>
			<input type="radio" name="family" value="both" required>Both are fine</br>
        </p>
        <p class="sectiontitle">Good With Young Children:</p>
        <p class="section">A breed's level of tolerance and patience with childrens' behavior, and overall family-friendly nature. Dogs should always be supervised around young children, or children of any age who have little exposure to dogs.</br>
            <input type="radio" name="children" value="not_recommended">Not Recommended</br>
            <input type="radio" name="children" value="good">Good With Children</br>
            <input type="radio" name="children" value="both"required >Both are fine</br>
        </p>
        <p class="sectiontitle">Good With Other Dogs:</p>
        <p class="section">How generally friendly a breed is towards other dogs. Dogs should always be supervised for interactions and introductions with other dogs, but some breeds are innately more likely to get along with other dogs, both at home and in public.</br>
            <input type="radio" name="dog" value="not_recommended">Not Recommended</br>
            <input type="radio" name="dog" value="good">Good With Other Dogs</br>
            <input type="radio" name="dog" value="both" required>Both are fine</br>
        </p>
        <button type="submit">Next</button>
    </form>
{% endblock %}