{% extends "base.html" %}

{% block title %}Pet Finder{% endblock %}

{% block header %}
    <h1>Specific Information About {{doc.Breed}}</h1>
{% endblock %}

{% block main %}
    <div class="attributes">
        <div class="attribute">
            <p>Affectionate With Family</p>
            <div class="attribute-rating">
                {% for i in range(doc["Affectionate With Family"]) %}
                    <div class="attribute-pill"></div>
                {% endfor %}
                {% for i in range(5 - doc["Affectionate With Family"]) %}
                    <div class="attribute-pill empty"></div>
                {% endfor %}
            </div>
        </div>
        <div class="attribute">
            <p>Good With Young Children: {{doc["Good With Young Children"]}}</p>
        </div>
        <div class="attribute">
            <p>Good With Other Dogs: {{doc["Good With Other Dogs"]}}</p>
        </div>
        <div class="attribute">
            <p>Shedding Level: {{doc["Shedding Level"]}}</p>
        </div>
        <div class="attribute">
            <p>Coat Grooming Frequency: {{doc["Coat Grooming Frequency"]}}</p>
        </div>
        <div class="attribute">
            <p>Drooling Level: {{doc["Drooling Level"]}}</p>
        </div>
        <div class="attribute">
            <p>Coat Type: {{doc["Coat Type"]}}</p>
        </div>
        <div class="attribute">
            <p>Coat Length: {{doc["Coat Length"]}}</p>
        </div>
        <div class="attribute">
            <p>Openness To Strangers: {{doc["Openness To Strangers"]}}</p>
        </div>
        <div class="attribute">
            <p>Playfulness Level: {{doc["Playfulness Level"]}}</p>
        </div>
        <div class="attribute">
            <p>Watchdog/Protective Nature: {{doc["Watchdog/Protective Nature"]}}</p>
        </div>
        <div class="attribute">
            <p>Adaptability Level: {{doc["Adaptability Level"]}}</p>
        </div>
        <div class="attribute">
            <p>Trainability Level: {{doc["Trainability Level"]}}</p>
        </div>
        <div class="attribute">
            <p>Energy Level: {{doc["Energy Level"]}}</p>
        </div>
        <div class="attribute">
            <p>Barking Level: {{doc["Barking Level"]}}</p>
        </div>
        <div class="attribute">
            <p>Mental Stimulation Needs: {{doc["Mental Stimulation Needs"]}}</p>
        </div>
    </div>
{% endblock %}