{% extends "base.html" %}

{% block title %}Pet Finder{% endblock %}

{% block header %}
    <h1>Specific Information About {{doc.Breed}}</h1>
{% endblock %}

{% block main %}
    <div class="attributes">
        <img src="{{doc.Image}}">
        <div class="attribute">
            <p>Affectionate With Family</p>

            <div class="attribute-rating">
                {% for i in range(doc["Affectionate With Family"]) %}
                    <div class="attribute-pill"></div>
                {% endfor %}
                {% for i in range(5 - doc["Affectionate With Family"]) %}
                    <div class="attribute-pill empty"></div>
                {% endfor %}
            </div>
        </div>
        <div class="attribute">
            <p>Good With Young Children</p>

            <div class="attribute-rating">
                {% for i in range(doc["Good With Young Children"]) %}
                    <div class="attribute-pill"></div>
                {% endfor %}
                {% for i in range(5 - doc["Good With Young Children"]) %}
                    <div class="attribute-pill empty"></div>
                {% endfor %}
            </div>
        </div>
        <div class="attribute">
            <p>Good With Other Dogs</p>

            <div class="attribute-rating">
                {% for i in range(doc["Good With Other Dogs"]) %}
                    <div class="attribute-pill"></div>
                {% endfor %}
                {% for i in range(5 - doc["Good With Other Dogs"]) %}
                    <div class="attribute-pill empty"></div>
                {% endfor %}
            </div>
        </div>
        <div class="attribute">
            <p>Shedding Level</p>

            <div class="attribute-rating">
                {% for i in range(doc["Shedding Level"]) %}
                    <div class="attribute-pill"></div>
                {% endfor %}
                {% for i in range(5 - doc["Shedding Level"]) %}
                    <div class="attribute-pill empty"></div>
                {% endfor %}
            </div>
        </div>
        <div class="attribute">
            <p>Coat Grooming Frequency</p>

            <div class="attribute-rating">
                {% for i in range(doc["Coat Grooming Frequency"]) %}
                    <div class="attribute-pill"></div>
                {% endfor %}
                {% for i in range(5 - doc["Coat Grooming Frequency"]) %}
                    <div class="attribute-pill empty"></div>
                {% endfor %}
            </div>
        </div>
        <div class="attribute">
            <p>Drooling Level</p>

            <div class="attribute-rating">
                {% for i in range(doc["Drooling Level"]) %}
                    <div class="attribute-pill"></div>
                {% endfor %}
                {% for i in range(5 - doc["Drooling Level"]) %}
                    <div class="attribute-pill empty"></div>
                {% endfor %}
            </div>
        </div>
        <div class="attribute">
            <p>Coat Type: {{doc["Coat Type"]}}</p>
        </div>
        <div class="attribute">
            <p>Coat Length: {{doc["Coat Length"]}}</p>
        </div>
        <div class="attribute">
            <p>Openness To Strangers</p>

            <div class="attribute-rating">
                {% for i in range(doc["Openness To Strangers"]) %}
                    <div class="attribute-pill"></div>
                {% endfor %}
                {% for i in range(5 - doc["Openness To Strangers"]) %}
                    <div class="attribute-pill empty"></div>
                {% endfor %}
            </div>
        </div>
        <div class="attribute">
            <p>Playfulness Level</p>

            <div class="attribute-rating">
                {% for i in range(doc["Playfulness Level"]) %}
                    <div class="attribute-pill"></div>
                {% endfor %}
                {% for i in range(5 - doc["Playfulness Level"]) %}
                    <div class="attribute-pill empty"></div>
                {% endfor %}
            </div>
        </div>
        <div class="attribute">
            <p>Watchdog/Protective Nature</p>

            <div class="attribute-rating">
                {% for i in range(doc["Watchdog/Protective Nature"]) %}
                    <div class="attribute-pill"></div>
                {% endfor %}
                {% for i in range(5 - doc["Watchdog/Protective Nature"]) %}
                    <div class="attribute-pill empty"></div>
                {% endfor %}
            </div>
        </div>
        <div class="attribute">
            <p>Adaptability Level</p>

            <div class="attribute-rating">
                {% for i in range(doc["Adaptability Level"]) %}
                    <div class="attribute-pill"></div>
                {% endfor %}
                {% for i in range(5 - doc["Adaptability Level"]) %}
                    <div class="attribute-pill empty"></div>
                {% endfor %}
            </div>
        </div>
        <div class="attribute">
            <p>Trainability Level</p>

            <div class="attribute-rating">
                {% for i in range(doc["Trainability Level"]) %}
                    <div class="attribute-pill"></div>
                {% endfor %}
                {% for i in range(5 - doc["Trainability Level"]) %}
                    <div class="attribute-pill empty"></div>
                {% endfor %}
            </div>
        </div>
        <div class="attribute">
            <p>Energy Level</p>

            <div class="attribute-rating">
                {% for i in range(doc["Energy Level"]) %}
                    <div class="attribute-pill"></div>
                {% endfor %}
                {% for i in range(5 - doc["Energy Level"]) %}
                    <div class="attribute-pill empty"></div>
                {% endfor %}
            </div>
        </div>
        <div class="attribute">
            <p>Barking Level</p>

            <div class="attribute-rating">
                {% for i in range(doc["Barking Level"]) %}
                    <div class="attribute-pill"></div>
                {% endfor %}
                {% for i in range(5 - doc["Barking Level"]) %}
                    <div class="attribute-pill empty"></div>
                {% endfor %}
            </div>
        </div>
        <div class="attribute">
            <p>Mental Stimulation Needs</p>

            <div class="attribute-rating">
                {% for i in range(doc["Mental Stimulation Needs"]) %}
                    <div class="attribute-pill"></div>
                {% endfor %}
                {% for i in range(5 - doc["Mental Stimulation Needs"]) %}
                    <div class="attribute-pill empty"></div>
                {% endfor %}
            </div>
        </div>
        <p>
            Back to <a href="{{url_for('result')}}">Result Page</a> </br>
            Learn more in <a href="{{ doc.links }}" target="_blank">Official Page</a>
        </p>
    </div>
{% endblock %}